// подключает компоненты отдельных блоков сайта
// в качестве тестового подключения, подключается блок - header
@import "./components/header";
@import "./components/general";
@import "./components/hero";