// header style
.header{
    width: 100%;
    z-index: 9999;
    display: flex;
    height: var(--header-height);
    align-items: center;
    &__menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link{
        font-size: 18px;
        &:hover{
            transition: all 0.7s ease;
            color: rgb(219, 32, 236);
        }
    }
}